<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Quiz</title>
    </head>
    <body>
        <h1>Baby Care Rules Quiz</h1>

        <form>

            <h3>1. What is the safest sleep position for a baby?</h3>

            <input type="radio" name="q1"> On the stomach<br>
            <input type="radio" name="q1"> On the side<br>
            <input type="radio" name="q1"> On the back<br><br>


            <h3>2. Should you ever shake a baby?</h3>

            <input type="radio" name="q2"> Yes<br>
            <input type="radio" name="q2"> No<br><br>


            <h3>3. What should you monitor to make sure a baby is feeding well?</h3>

            <input type="radio" name="q3"> Wet diapers<br>
            <input type="radio" name="q3"> Hair growth<br>
            <input type="radio" name="q3"> Eye color<br><br>


            <h3>4. When should hands be washed before handling a baby?</h3>

            <input type="radio" name="q4"> Never<br>
            <input type="radio" name="q4"> Sometimes<br>
            <input type="radio" name="q4"> Before handling the baby<br><br>


            <h3>5. Should fever or breathing problems be ignored?</h3>

            <input type="radio" name="q5"> Yes<br>
            <input type="radio" name="q5"> No<br><br>


            <h3>6. What type of car seat should a baby use?</h3>

            <input type="radio" name="q6"> Rear-facing<br>
            <input type="radio" name="q6"> Forward-facing<br>
            <input type="radio" name="q6"> No car seat<br><br>


            <h3>7. Is it safe to leave a baby unattended on a bed or table?</h3>

            <input type="radio" name="q7"> Yes<br>
            <input type="radio" name="q7"> No<br><br>


            <h3>8. How should caregivers respond to crying?</h3>

            <input type="radio" name="q8"> Calmly<br>
            <input type="radio" name="q8"> By ignoring it<br>
            <input type="radio" name="q8"> By shouting<br><br>


            <h3>9. Are regular doctor visits important?</h3>

            <input type="radio" name="q9"> Yes<br>
            <input type="radio" name="q9"> No<br><br>


            <h3>10. Should mothers ask for help when exhausted?</h3>

            <input type="radio" name="q10"> Yes<br>
            <input type="radio" name="q10"> No<br><br>


            <button type="submit">Submit Quiz</button>

        </form>
    </body>
</html>